<form action="/" method="get">
  <input type="text" name="createria" placeholder="what event?">
  <input type="text" name="address" placeholder="Which Area?">
  <input type="submit">
</form>
<div class="main-grid">
<% for i in 0..14 do %>
<div class="grid-container">
  <img src="<%= @image[i]%>">
  <div>
    <p><%= @titles[i] %></p>
    <p><%= @description[i] %></p>
    <p><%= @date[i] %></p>
  </div>
</div>
<% end %>
</div>
